<h1>Recipe Box</h1>

<button class="btn"><a href="/recipes">View Recipes</a></button>
<button class="btn"><a href="/tags">View Tags</a></button>
<button class="btn"><a href="/ingredients">View Ingredients</a></button>
